body {
  font: 35px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  color: 003366;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
  position: bottom;
}

.square {
  background: #003366;
  border: 1px solid #999;
  float: left;
  font-size: 95px;
  font-weight: bold;
  color: white;
  line-height: 100px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  position: static;
  text-align: center;
  width: 100px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #003366;
}

.game {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 40px;
  left: 40px;
}

.game-info {
  position: absolute;
  top: 305px;
  border: 2px solid slateblue;
  padding: 30px;
  color: #003366;
}
